NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
PAYSTACK_SECRET_KEY=
PAYSTACK_PLAN_MONTHLY=
PAYSTACK_PLAN_YEARLY=
PAYSTACK_AMOUNT_MONTHLY=
PAYSTACK_AMOUNT_YEARLY=
ADMIN_EMAILS=admin@example.com
